---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import IconGroup from '../components/IconGroup.astro';
import logoGithub from '../images/Vector.png';
import '../styles/global.scss';

const placeholder =
	`Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod 
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
  consequat.`;
const fullname = 'Roxanne Alimboyogen';

const posts = await Astro.glob('../posts/*.md');
const newPosts = posts.slice(0, 3);
---

<Layout title="Roxanne's Portfolio">
  <main>
    <div class="main-div">
      <a href="https://github.com/Monocerum"
      ><img class="logo-github" src={logoGithub} alt="Github Logo" />
      </a>
      <h1>{fullname}</h1>
    </div>
    <div class="div-about">
      <p class="main-about">
				Studying <strong>Computer Science</strong> at the <strong
        >Polytechnic University of the Philippines</strong>
      </p>
      <p class="main-description-1">
        {placeholder}
      </p>
    </div>
    <div class="tech-stack">
      <h2>Tech Stack</h2>
      <p class="main-description-2">
        {placeholder}
      </p>
    </div>
    <IconGroup />
    <div class="blog">
      <h2>Blog</h2>
      <ul role="list" class="todo-card-list">
        {newPosts.map(post => (
          <Card link={`/blog/${post.frontmatter.slug}`}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            tags={post.frontmatter.tags}/>
        ))}
      </ul>
    </div>
    <a href="/blog" class="view-more">View more</a>
    <div class="space"></div>
  </main>
</Layout>

<style lang="scss">
  @import '../styles/variables.scss';
	main {
		margin: 0 25%;
		.main-div {
			.logo-github {
				width: 32px;

				&:hover {
					transform: scale(1.2);
					transition: 0.5s ease-in;
				}
			}
		}

		.div-about {
			.main-about {
				padding: 10px 0 24px 0;
			}

			.main-description-1 {
				padding-top: 8px;
				line-height: 24px;
			}
		}

		.tech-stack {
			.main-description-2 {
				line-height: 24px;
				padding-bottom: 24px;
			}
		}

		.blog {
			.todo-card-list {
				list-style-type: none;
				padding: 0px;
			}
		}

		.view-more {
			display: flex;
			text-align: center;
			flex-direction: column;
			color: $red;
			text-decoration: none;

			&:hover {
				font-weight: 600;
			}
		}

		.space {
			height: 87px;
		}
	}

	@media only screen and (min-width: 1500px) {
		.main-description-1 {
			width: 700px;
		}
	}

	@media only screen and (max-width: 1500px) and (min-width: 825px) {
		main {
			margin: 0 20%;

			.div-about {
				.main-about {
					width: 519px;
				}

				.main-description-1 {
					width: 519px;
				}
			}

			.tech-stack {
				.main-description-2 {
					width: 720px;
				}
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		main {
			margin: 0 15%;
		}
	}

	@media only screen and (min-width: 650px) {
		.main-div {
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
		}
	}

	@media only screen and (max-width: 650px) and (min-width: 350px) {
    main {
      margin: 0 10%;

      .main-div {
			display: block;
			text-align: center;

        .logo-github {
          padding-bottom: 24px;
        }

        h1 {
          padding-bottom: 24px;
        }
      }
    }
	}
</style>
