---
import TagGroup from './TagGroup.astro';
export interface Props {
  link?: string;
  title: string;
  type?: string;
  description?: string;
  tags?: string[];
  githubLink?: string;
  liveLink?: string;
}

const { link, title, type, description, tags, githubLink, liveLink } = 
Astro.props;
---

<li class="todo-card">
  <a href={link}>
    <h3>{title}</h3>
    { 
      tags && tags.length && type !== 'project' 
      && <TagGroup tags={tags}/> 
      <p class="card-desc">{description}</p> 
    }
    { 
      type === 'project' 
        && <div class="links">
          <a href={liveLink} class="link link--view-live">
            View live
          </a>
          <a href={githubLink} target="_blank" class="link link--view-github">
            Github
          </a>
        </div> 
    }
  </a>
</li>

<style lang="scss">
  @import '../styles/variables.scss';
  .todo-card {
    padding: 28px 30px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 32px;

    &:hover {
      transform: scale(102%, 102%);
      transition: 0.5s ease-out;
    }

    h3 {
      color: $red;
    }

    .card-desc {
      line-height: 24px;
      padding-top: 24px;
      color: $black;
    }

    .links {
      padding-top: 16px;

      .link {
        line-height: 24px;
        color: $red;
        padding-right: 16px;
      }
    }
  }
</style>
